@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #333;
  }

  p{
      text-align: center;
      color: white;    
      padding: 100px 60px; 
      margin: 60px;
      font-size: 22px;
      background-color: #333;
      border-radius: 20px;
  }

  img{
    width: 20%;
    float: right; 
    margin: 0px;
    height: auto;
    max-width:120px;
    border-radius: 10px;
  }